@import "measurements.scss";

.container {
  height: $content-height;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  width: $right-panel-width;
  @media screen and (max-width: $breakpoint-1) {
    width: 100%;
    height: calc(#{$content-height}/ 2);
    justify-content: center;
  }
}
