@import "colours.scss";

.container {
  position: relative;
  margin: 1px;

  .mainButton {
    width: 100%;
    height: 100%;
    background: $color2;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: $color5;
    &.selected {
      background-color: $color3;
    }
    .inline {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 5px 75px 0 10px;
      justify-content: space-between;
    }
  }
  .smallButton {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    background: $color4;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    width: 70px;
    color: $color5;
  }
}
