$header-height: 50px;
$main-padding: 5px;
$content-height: calc(100vh - #{$header-height} - #{$main-padding}* 2);
$left-panel-width: 500px;
$right-panel-width: calc(100% - #{$left-panel-width});

$breakpoint-1: 920px;
