@import "measurements.scss";

.container {
  display: flex;
  flex-direction: column;
  height: $content-height;
  overflow-y: scroll;
  width: $left-panel-width;
  @media screen and (max-width: $breakpoint-1) {
    width: 100%;
    height: calc(#{$content-height}/ 2);
  }
}
