@import "colours.scss";

.container {
  background: $color1;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 400px;
  padding: 10px;
  .inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
  }
  .status {
    background-color: $color2;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    font-weight: bold;
  }
}
